@{
    ViewData["Title"] = "Home Page";
}
@*
<!--<h2>Welcome to My Web App</h2>-->

@/*if (User.Identity.IsAuthenticated) {
    <p>Hello, @User.Identity.Name!</p>
    <p>Here are some exclusive content and features for logged-in users.</p>
    
}
else {
    <p>Please <a href="/Account/Login">Log in</a> or <a href="/Account/Register">Register</a> to access more features.</p>
}-->
*@